*{
   margin: 0;
   padding: 0; 
}

header{
    background: linear-gradient(to right,#c74929,#0a19e9);
}

header nav {
    padding: 10px;
    display: flex;

}
header nav ul{
    display: flex;
    margin-left: 76%;
}

header nav img{
    margin: 10%;
}
header nav ul li{
    margin: 10%;
    list-style-type: none;
}

header nav ul li a{
  text-decoration: none;
  color: aliceblue;
  font-size: 1.1em;
}

#home img{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#home form{
    position: absolute;
    border: 3px solid black;
    border-radius: 20px;
    padding: 40px;
    width: 20%;
    top:200px;
    left: 700px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

#home form input{
    margin: 10px;
}
#home form button{
    margin: 10px;
}


#novas_despesas,#consultas,#consulta_tabela{
    width: 60%;
    margin: 0 auto;

}

#novas_despesas h1{
    margin: 10px;
    font-size: 40px;
    background: linear-gradient(to right,#c74929,#0a19e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}

#novas_despesas .registro,#consultas .registro{
    display: block;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

#novas_despesas textarea{
    width: 200px;
    height: 100px;
}

#novas_despesas button,#consultas button{
    padding: 15px;
    margin-left: 10px;
    border-radius: 5px;
    width: 156px;
    height: 56px;
    background-color: orange;
}

#consulta_tabela {
    margin-top: 25px;
    margin-left: 200px;
    border: 2px solid #c3c3c3;
    border-radius: 5px;
}

#consulta_tabela table  {
    padding: 5px;
    width: 100%;
    box-shadow: 5px 5px #c4c4c4;
    border-radius: 5px; 
}

#consulta_tabela table  th {
    margin-left: 25px;
    color: orange;
}

#consulta_tabela thead {
    border-bottom : 5px solid red;

}

#consulta_tabela table tbody tr  td{
    padding: 5px;
    text-align: center;
    border-bottom : 1px solid #b4b4b4;
}


.excluir{
    background-color: #c74929;
    width: 35px;
    height: 35px;
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 1px 2px #7a2d19;
}

/*--------------Modal----------------*/

#fade{
    position: absolute;
    top:0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
    width: 100%;
    height: 100%;


}

#modal{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    border: 1px solid blueviolet;
    border-radius: 15px;
    box-shadow: 3px 3px 15px black;
    background-color: white;
    z-index:7;  
}

#fade #modal{
    opacity: 1;
    pointer-events: all;
    transition: 0.3s;
}
#modal h1{
    position: relative;
     top:5%;
     left:15%;
     
}

#modal p{
     position: relative;
     top:15%;
     left:15%;
     width: 80%;
     font-size: 20px;  
}
#modal hr{
    margin-top: 25px;
    color: 1px solid blueviolet;
}



#modal #button{
    position: absolute;
    top:260px;
    left: 197px;
    width:100px ;
    height:36px;
    border: 1px solid blueviolet;
    border-radius: 20px;
}

#fade.hide, #modal.hide{
    opacity: 0;
    pointer-events: none;
    z-index: -5;
}
